@page "/"

<Card>
    <CardHeader>
        <CardTitle>YouTube Audio Downloader</CardTitle>
    </CardHeader>
    <CardBody>
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is3">YouTube Video Url</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is4">
                <TextEdit @bind-Text="@YouTubeUrl" />
            </FieldBody>
            <FieldBody>
                <Tooltip Text="Process YouTube Video Url (download manifest).">
                    <Button Color="Color.Primary" Disabled="@(!ProcessYouTubeUrlButtonEnabled)" Loading="@(!ProcessYouTubeUrlButtonEnabled)" Clicked="@ProcessYouTubeUrlAsync">Process</Button>
                </Tooltip>
            </FieldBody>
        </Field>
    </CardBody>

    @if (VideoMetaData != null)
    {
        <CardBody>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is3">Title</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <Label>@VideoMetaData.Title</Label>
                </FieldBody>
            </Field>
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is3">Duration</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <Label>@VideoMetaData.Duration</Label>
                </FieldBody>
            </Field>

            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is3">Audio Streams</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <RadioGroup TValue="int" Name="AudioOnlyStreamInfos" @bind-CheckedValue="@CheckedAudioOnlyStreamInfoHashCode">
                        @foreach (var info in AudioOnlyStreamInfos)
                        {
                            <Radio TValue="int" Value="@info.GetHashCode()">@info.GetTitle()</Radio>
                        }
                    </RadioGroup>
                </FieldBody>
            </Field>

            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is3">Download Audio</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <Button Color="Color.Primary" Disabled="@(!DownloadButtonEnabled)" Loading="@(!DownloadButtonEnabled)" Clicked="@DownloadFileAsync">Download</Button>

                    <div style="margin-top: 10px;">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="@($"width: {@Progress}%")" aria-valuenow="@Progress" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </FieldBody>
            </Field>
        </CardBody>
    }
</Card>